body {
  font-family: 'Lucida Console', Monaco, monospace;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* NAVBAR */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#title {
  text-align: center;
}
/* */

form div {
  margin: 1em;
  display: inline-block;
}

/* GAME BOARD */

.ansbox {
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: 'Lucida Console', Monaco, monospace;
  text-align: center;
}

.ansbox:hover {
  background-color: #b9deed;
}

#board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttons {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: 'Lucida Console', Monaco, monospace;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#next {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: 'Lucida Console', Monaco, monospace;
}

/* START GAME */

#start {
  display: flex;
  min-height: calc(100vh - 250px);
  align-items: center;
  justify-content: center;
}

#start_btn {
  justify-self: center;
  align-self: center;
  font-size: 36px;
  padding: 20px;
  font-family: 'Lucida Console', Monaco, monospace;
}

/* LEADERBOARD */

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 5px 15px;
}

#leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/*USER HOME */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*POINTS COMPONENT */

#my_points {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#curr_points {
  border-style: double;
  padding: 20px;
}

#finalscore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 24px;
}
